{% extends 'base.html' %}
{% block container %}
    <table class="table table-striped table-success table-bordered">
        <thead>
            <tr>
                <th scope="col">IBSN</th>
                <th scop="col">TITULO</th>
                <th scope="col">AUTOR NOMBRE</th>
            </tr>
        </thead>
        {% for l in data.libros %}
            <tr>
                <td>{{l.isbn}}</td>
                <td>{{l.titulo}}</td>
                <td>{{l.autor.nombres}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}